<!DOCTYPE html>
<html>
<head>
  <title>NoReST</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "prettify" %>
  <script type="text/javascript">
  !function ($) {
    $(function(){
      window.prettyPrint && prettyPrint()   
    })
  }(window.jQuery)
</script>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NoReST</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <!--<li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>-->
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
  
  <div class="container-fluid">
    <div class="row">

      <%if params[:action] != "norm_refinement" and params[:action] != "execute_norm_refinement" %>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li <% if params[:action] == "index"%> class="active" <%end%>><a href="/home">Home</a></li>
            <li <% if params[:action] == "original"%> class="active" <%end%>><a href="/original">Original Model</a></li>
            <li <% if params[:action] == "pattern1"%> class="active" <%end%>><a href="/pattern1">Pattern 1</a></li>
            <li <% if params[:action] == "pattern2"%> class="active" <%end%>><a href="/pattern2">Pattern 2</a></li>
            <li <% if params[:action] == "pattern3"%> class="active" <%end%>><a href="/pattern3">Pattern 3</a></li>
            <li <% if (params[:action] == "custom" or params[:action] == "execute_nusmv")%> class="active" <%end%>><a href="/custom">Custom Model</a></li>
            <li <% if (params[:action] == "custom_norms" or params[:action] == "execute_custom_norms")%> class="active" <%end%>><a href="/custom_norms">Custom Norms</a></li>
          </ul>
        </div>    

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= yield %>
      </div>
      <%else%>
        <div class="col-sm-12 main">
          <%= yield %>
        </div>
      <%end%>
    </div>
  </div>

</body>
</html>
